<html>
<head>
<title>Home Page</title>
    <!-- cdn hosted css -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
                
    <!-- cdn hosted javascript files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="navbar">  
          <div class="navbar-inner row">
            <div class="pull-left">
                  <h1>&nbsp;&nbsp;CrowdPrinting.com</h1>
                  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Local Quality, Global Quantity ..</h4>            
            </div>  
          </div>  
        </div> 
    </header>
    
    <!-- navigation bar here here -->
    <div class="navbar container">  
        <div class="navbar-inner">  
            <div class="container">
                <ul class="nav">
                     <li class="active"><a href="#"><b>Account Information</b></a></li>
                     <li><a href="#"><b>Purchasing History</b></a></li>
                     <li><a href="#"><b>Marketplace</b></a></li>
                </ul>
            </div>  
        </div>  
    </div>
    
    <div class="container">
    <table class="table table-striped table-hover table-bordered">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Shishir</td>            
        </tr>
        <tr>
            <td>City</td>
            <td>Madison</td>            
        </tr>
        <tr>
            <td>Zip Code</td>
            <td>53726</td>            
        </tr>
    </tbody>
    </table>
    </div>
</body>