<!DOCTYPE html>

<html>
<head>
<title>Bank Account Information</title>
    <!-- cdn hosted css -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
                
    <!-- cdn hosted javascript files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>

	<header class="header well">
       <h1 align="center">Join the 3D Printer Community</h1>
    </header>
    
 <!-- navigation bar here with phases here -->
    <div class="navbar container">  
        <div class="navbar-inner">  
            <div class="container">
                <ul class="nav">
                     <li><a href="#"><b> 1. Personal Info</b></a></li>
                     <li><a href="#"><b> 2. Printer Info</b></a></li>
                     <li><a href="#"><b> 3. Bank Account Info</b></a></li>
                     <li class="active"><a href="#"><b> 4. Download Test File</b></a></li>
                </ul>
            </div>  
        </div>  
    </div>
    
	<section>
	   	    
	
	   	    
	   	    <div id="add_printer" >
	   	        <!-- file upload form here -->
			    <form method="post" class="form-horizontal container" action="/home" enctype="multipart/form-data">
			    <fieldset>
			        <legend>Download Test File</legend>
			        
			           	    <p>
						   	    Quality and dependability are very important fir proper functioning of the largest distributed, coordinated,
						   	    manufacturing system in the world. All 3D printers on the network need to first be properly classified based
						   	    on their performance on the print<b>test file</b>.
						   	    </p>
						   	    
						   	    <p>
						   	    The print test file is a standard we apply across all 3D printers in order to properly understand their capabilities
						   	    and limitations.
						   	    </p>
						   	    
						   	    <h4 align="center"><a href="">Download the Print Test File</a></h4>
						   	    
						   	    <p>
						   	    Upon completion of the registration process, an empty pre-packaged, pre-paid box will be sent to your address. 
						   	    Simply print the test file, place it in the pre-paid box, and ship it back to CloudMake. Upon receipt, your test 
						   	    file will be inspected promptly and your account will be capable of viewing and accepting print orders in the queue.
						   	    </p>
						   	    
		        			
			          <div class="form-actions">  
			            <button id="file_upload_btn" type="submit" class="btn btn-primary">Go to your Account</button>   
			          </div>  
			
			        </fieldset>
			        
			    </form>   
	   	    </div>
   	   	</section>

</body>