<!DOCTYPE html>

<html>
<head>
<title>CrowdPrinting</title>
    <!-- cdn hosted css -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
                
    <!-- cdn hosted javascript files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="header">
	    <div class="navbar">  
	      <div class="navbar-inner row">
	        <div class="pull-left">
				  <h1>&nbsp;&nbsp;<a href="/">CrowdPrinting.com</a></h1>
	              <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Local Quality, Global Quantity ..</h4>			  
	        </div>	
	      </div>  
	    </div> 
    </header>
       
    <body>
    	<h5 align = "right" margin="0px 50px 0px"><a href="/login">Login</a></h4>
    
	    <table class="container">
	    <tr>
	        <td class="span6">
	            <h2>Make something ?</h2>
	            <p>
	            <span class="label label-warning"><a href="/upload1">Upload a 3D model</a></span>
	            and get a quote within a day/24 hours.
	            </p>        
	        </td>
	        <td class="span6">
	            <h2>Own a printer ?</h2>
	            <p>
                    <span class="label label-warning"><a href="/join">Join</a></span> the distributed manufacturing revolution.         
                </p>         
	        </td>
	    </tr>
	    </table>
    </body>
</body>
</html>