<!DOCTYPE html>

<html>
<head>
<title>Test</title>
    <!-- cdn hosted css -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- local css -->
    
    <!-- cdn hosted images -->

    <!-- local hosted images -->
                
    <!-- cdn hosted javascript files -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.2/highcharts.js" type="text/javascript"></script>
    
    <!-- local javascript -->
</head>
<body>
    <header class="header">
	    <div class="navbar">  
	      <div class="navbar-inner row">
	        <div class="pull-left">
				  <h1>&nbsp;&nbsp;CrowdPrinting.com</h1>
	              <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Local Quality, Global Quantity ..</h4>			  
	        </div>	
	      </div>  
	    </div> 
    </header>
       
    <body>
	    <table class="container">
	    <tr>
	        <td class="span6">
	            <h2>Make something ?</h2>
	            <p>
	            <span class="label label-warning"><a href="#">Upload a 3D model</a></span>
	            and get a quote within a day/24 hours.
	            </p>        
	        </td>
	        <td class="">
	            <h2>Own a printer ?</h2>
	            <p>
                    <span class="label label-warning"><a href="#">Join</a></span> the distributed manufacturing revolution.         
                </p>         
	        </td>
	    </tr>
	    </table>
    </body>
</body>
</html>