<!DOCTYPE html>

<html>
<head>
<title>Login Form</title>

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
	
    <!-- cdn hosted css -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
                
    <!-- cdn hosted javascript files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<header class="header">
	    <div class="navbar">  
	      <div class="navbar-inner row">
	        <div class="pull-left">
				  <h1>&nbsp;&nbsp;<a href="/">CloudMake</a></h1>
	              <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Local Quality, Global Quantity</h4>			  
	        </div>	
	      </div>  
	    </div> 
    </header>
    
	<section class="loginform cf">
		<form name="login" action="/home" method="post" accept-charset="utf-8">
			<ul>
				<li>
<!-- 					<label for="usermail">Email</label> -->
					<input type="email" id="email" name="email" placeholder="Email ID" required>
				</li>
				<li>
<!-- 					<label for="password">Password</label> -->
					<input type="password" id="password" name="password" placeholder="password" required>
				</li>
				<li>
					<input type="submit" value="Login">
				</li>
			</ul>
		</form>
	</section>
</body>

</html>