<html>
<head>
<title>Home Page</title>
    <!-- cdn hosted css -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
                
    <!-- cdn hosted javascript files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="navbar">  
          <div class="navbar-inner row">
            <div class="pull-left">
                  <h1>&nbsp;&nbsp;CrowdPrinting.com</h1>
                  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Local Quality, Global Quantity ..</h4>
                              
            </div>  
          </div>  
        </div> 
    </header>
    
    <!-- navigation bar here here -->
    <div class="navbar container">  
        <div class="navbar-inner">  
            <div class="container">
                <ul class="nav">
                     <li><a href="#"><b>Account Information</b></a></li>
                     <li class="active"><a href="#"><b>Purchasing History</b></a></li>
                     <li><a href="#"><b>Marketplace</b></a></li>
                </ul>
            </div>  
        </div>  
    </div>
    
    <div class="container">
    <table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Date</th>
            <th>Material</th>                                    
            <th>Quantity</th>
            <th>Color</th>
            <th>Resolution</th>
            <th>Status</th>                        
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="">178</a></td>
            <td>March 1, 2014</td>
            <td>Brass</td> 
            <td>20</td>
            <td>Red</td>
            <td>High</td>
            <td>QUOTE AVAILABLE</td>         
        </tr>
    </tbody>
    </table>
    
    <form action="/logout" method="get"/>
        <div align="center">
           <button class="btn btn-danger">Logout</button>
        </div>
    </form>
</body>