@(material : String, color : String, resolution : String, comment:String, jobId: Integer, quantity: Integer)

<html>
<head>
<title>3D Ordering - Quote</title>
    <!-- cdn hosted css -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
                
    <!-- cdn hosted javascript files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="header well">
       <h1 align="center">Ordering 3D Parts</h1>
    </header>
    
    <!-- navigation bar here with phases here -->
    <div class="navbar container">  
        <div class="navbar-inner">  
            <div class="container">
                <ul class="nav">
                     <li><a href="#"><b>1. Upload 3D files</b></a></li>
                     <li><a href="#"><b>2. Specify your materials</b></a></li>
                     <li class="active"><a href="#"><b>3. Get a quote</b></a></li>
                </ul>
            </div>  
        </div>  
    </div>
    
    <div class="container">
        <div align="center">
	        <button class="btn btn-success btn-large">
	            <h2>Thank You !!</h2>
	        </button>
        </div>
        
        <p><h4>Your information has been received. We appreciate the opportunity to serve you . 
        You will receive an email confirmation shortly.</h4></p>
        
        <hr>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Reference ID</td>
                <td>@jobId</td>                
            </tr>        
            <tr>
                <td>Material</td>
                <td>@material</td>                
            </tr>
            <tr>
                <td>Color</td>
                <td>@color</td>                
            </tr>
            <tr>
                <td>Resolution</td>
                <td>@resolution</td>                
            </tr>
            <tr>
                <td>Quantity</td>
                <td>@quantity</td>                
            </tr>                                    
        </table>

        <hr>
	        <p align="center">
		        <i>You will receive an interactive quote within 24 hours.</i>
		    </p>
	        
	        <form action="/" method="get"/>
		        <div align="center">
		           <button class="btn btn-success">Done</button>
		        </div>
	        </form>

    </div>
</body>    